.git
.gitignore
venv
.venv
**pycache**
_.pyc
_.pyo
_.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
_.log
state
thesis
scripts
docs
README.md
.vscode
.idea
.env
.env._
config/\*\*/_.env
config/\*_/secrets_
